.contain{
    background: white
}

.container{
    padding: 3rem 1rem;
}

.testimonials{
    width: 80%;
    margin: auto;
    height: 60vh;
    overflow: hidden;
}

.inside{
    height: 100%;
    width: 500%;
    display: flex;
    animation: slider 25s ease-in-out infinite;
}

.each{
    height: 100%;
    width: 20%;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.image > img{
    height: 100%;
}

.all > h1{
    color: #e98d15;
    font-size: 1.75rem;
    padding-bottom: .65rem;
}

.all > h2{
    color: rgb(75, 75, 75);
    font: 1.35rem;
    padding-bottom: .65rem;
}

.paragraph{
    width: 50%;
    margin: auto;
}

.paragraph > p{
    color: rgb(100, 100, 100);
    font-size: 1.15rem;
    padding: 0 5rem;
    text-align: center;
}




@keyframes slider {
    0%{
        margin-left: 0;
    }

    20%{
        margin-left: 0;
    }

    25%{
        margin-left: -100%;
    }

    45%{
        margin-left: -100%;
    }

    50%{
        margin-left: -200%;
    }

    70%{
        margin-left: -200%;
    }

    75%{
        margin-left: -300%;
    }

    95%{
        margin-left: -300%;
    }

    100%{
        margin-left: -400%;
    }
}

@media (max-width: 300px) and (orientation: portrait){
    .container{
        padding: 2rem 1rem 2.5rem 1rem;
    }
    .testimonials{
        width: 100%;
    }

    .image{
        height: 6rem;
        width: 6rem;
    }
    .all > h1 {
        font-size: 1.15rem;
    }

    .all > h2{
        font-size: .9rem;
    }

    .paragraph{
        width: 100%;
    }

    .paragraph > p{
        font-size: .7rem;
    }
}

@media (min-width: 300px) and (max-width: 600px) and (orientation: portrait){
    .container{
        padding: 2rem 1rem 1.5rem 1rem;
    }

    .testimonials{
        width: 95%;
    }

    .image{
        height: 7rem;
        width: 7rem;
    }

    .all > h1 {
        font-size: 1.25rem;
    }

    .all > h2{
        font-size: 1rem;
    }

    .paragraph{
        width: 100%;
    }

    .paragraph > p{
        font-size: .75rem;
    }
}

@media (min-width: 600px) and (max-width: 1000px) and (orientation: portrait){
    .container{
        padding: 2.5rem 1rem 0 1rem;
    }

    .testimonials{
        width: 95%;
    }

    .image{
        height: 8rem;
        width: 8rem;
    }

    .all > h1 {
        font-size: 1.5rem;
    }

    .all > h2{
        font-size: 1.25rem;
    }

    .paragraph{
        width: 100%;
    }

    .paragraph > p{
        font-size: 1rem;
    }
}

@media (max-width: 660px) and (orientation: landscape){
    .container{
        padding: 1rem 1rem 0 1rem;
    }

    .testimonials{
        width: 95%;
        height: 150vh;
    }

    .image{
        height: 8rem;
        width: 8rem;
    }

    .all > h1 {
        font-size: 1.5rem;
    }

    .all > h2{
        font-size: 1.25rem;
    }

    .paragraph{
        width: 100%;
    }

    .paragraph > p{
        font-size: 1rem;
    }
}

@media (min-width: 660px) and (max-width: 1000px) and (orientation: landscape){
    .container{
        padding: 1rem 1rem 0 1rem;
    }

    .testimonials{
        width: 95%;
        height: 120vh;
    }

    .image{
        height: 8rem;
        width: 8rem;
    }

    .all > h1 {
        font-size: 1.5rem;
    }

    .all > h2{
        font-size: 1.25rem;
    }

    .paragraph{
        width: 100%;
    }

    .paragraph > p{
        font-size: 1rem;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) and (orientation: landscape){
    .testimonials{
        width: 95%;
        height: 70vh;
    }
    .container{
        padding: 1rem 1rem 4rem 1rem;
    }
    .paragraph > p{
        font-size: 1.1rem;
    }
}